<h1>Books are cool</h1>
<div class="search">
  <h3>Find a book in the database or <%= link_to 'add a book', new_book_path %></h3>
    <%= form_tag(books_path, method: :get) do %>
      <%= label_tag(:search_term, "Search by title, author, classification, genre, or type:") %>
      <%= text_field_tag(:search_term) %>
      <%= submit_tag("Search") %>
    <% end %>
</div>
<div class="books">
  <% @books.each do |book| %>
  <ul>
    <li><b>Title: </b><i><%= link_to book.title, book_path(book) %></i></li>
    <li><b>Author: </b><%= book.author %></li>
    <li><b>Classification: </b><%= book.classification %></li>
    <li class="small"><%= link_to 'Something off? Edit this book', edit_book_path(book) %></li>
  </ul>
  <% end %>
  <% if params[:search_term] %>
    <br /><br />
  <% else %>
    <%= paginate @books %>
  <br />
  <%= page_entries_info @books, entry_name: 'book' %>
  <% end %>
  <br /><br />
  <%= link_to 'Books Home', books_path %>
</div>