<h2>Enter a New Book</h2>
<br />
<%= simple_form_for @book do |f| %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :genre %>
  <%= f.input :classification %>
  <%= f.input :booktype, label: 'Type of Book' %>
  <%= f.input :year, label: 'Year Published' %>
  <br />
  <%= f.submit 'Create' %>
<% end %>