<h3><i><%= @book.title %></i> Book Details</h3>
<div id="details">
  <table>
    <tr>
      <td>
        <b>Author</b>
      </td>
      <td>
        <%= @book.author %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Genre</b>
      </td>
      <td>
        <%= @book.genre %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Classification</b>
      </td>
      <td>
        <%= @book.classification %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Type</b>
      </td>
      <td>
        <%= @book.booktype %>
      </td>
    </tr>
    <tr>
      <td>
        <b>Year</b>
      </td>
      <td>
        <%= @book.year %>
      </td>
    </tr>
  </table>
</div>